* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, rgb(94, 241, 197), rgb(241, 207, 37));
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, rgb(12, 196, 141), rgb(202, 166, 6));
}

section {
  width: 100%;
  height: 100vh;
  padding-top: 48px;
  background-color: white;
}

.chapter {
  display: flex;
  align-items: center;
  position: absolute;
  top: 48px;
  left: 80px;
}
.chapter img {
  margin: 10px 16px;
  height: 30px;
}
.chapter h2 {
  font-size: 40px;
  font-family: "Bruno Ace", cursive;
}

#background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -10;
  background-color: rgb(32, 31, 26);
}
#background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#home {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 154, 104, 0.3411764706);
}
#home #space {
  height: 80px;
}
#home h2 {
  font-size: 3.5rem;
  color: white;
}
#home h2 span {
  font-family: "Salsa", cursive;
  background: linear-gradient(45deg, #ff7300, #c6f00c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgba(0, 0, 0, 0);
}
#home div {
  width: 400px;
}
#home div h3 {
  font-size: 2.5rem;
  color: #dbd7a9;
}
#home div h3 span {
  font-family: "Salsa", cursive;
  background: linear-gradient(45deg, #ff7300, #c6f00c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgba(0, 0, 0, 0);
}
#home #next-section {
  width: 100px;
  margin-top: 50px;
  position: relative;
  animation: arrow 1.5s ease-in-out infinite alternate;
}

.navbar {
  width: 100%;
  padding: 6px 0;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: flex-end;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  right: 36px;
}
.navbar ul li a {
  text-decoration: none;
  margin: 0 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(92, 89, 89);
}
.navbar ul li .active {
  color: white;
}
.navbar ul li .active:hover {
  color: #ff7300;
}

.nav-burger {
  position: fixed;
  z-index: 50;
  top: 24px;
  right: 10px;
  opacity: 0;
  pointer-events: none;
}
.nav-burger #burger {
  border-radius: 10px;
  height: 60px;
  transition: all 0.2s ease-in;
}
.nav-burger div {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 36px 16px;
  width: 90vw;
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  top: 20px;
  right: 4vw;
  opacity: 0;
  pointer-events: none;
}
.nav-burger div ul {
  list-style-type: none;
  margin-right: 40px;
}
.nav-burger div ul li {
  border-bottom: 2px solid grey;
  margin-bottom: 12px;
}
.nav-burger div ul li a {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 800;
  color: rgb(255, 123, 0);
}
.nav-burger div ul li a:hover {
  transform: translate(5px, -5px);
  color: rgb(255, 246, 122);
}

.nav-burger:hover img {
  transform: translate(-16px, -5px);
  box-shadow: 5px 5px 5px rgb(46, 44, 38);
}
.nav-burger:hover div {
  opacity: 1;
  pointer-events: auto;
}

#about {
  height: 725px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
#about #block {
  position: absolute;
  top: 0;
  right: 0;
}
#about #mypic {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 66px;
  position: absolute;
  right: 180px;
  top: 200px;
  transition: all 0.2s ease-in;
}
#about #mypic:hover {
  transform: scale(1.3);
}
#about .resume {
  position: absolute;
  right: 150px;
  top: 330px;
}
#about .resume img {
  width: 100px;
  transition: all 0.2s ease-in;
}
#about .resume img:hover {
  transform: rotate(-0.03turn);
}
#about .resume p {
  display: flex;
  font-size: 20px;
  padding-left: 8px;
  display: flex;
  align-items: center;
}
#about .resume p img {
  width: 20px;
  height: 20px;
}
#about #me {
  min-width: 600px;
  max-width: 900px;
  height: 500px;
  padding-top: 100px;
  position: absolute;
  top: 160px;
  right: 400px;
  margin: 0 32px 0 48px;
  padding: 16px 24px;
}
#about #me p {
  font-size: 1.25rem;
  margin-top: 24px;
}
#about #color-block {
  position: absolute;
  z-index: 0;
  left: 70px;
  bottom: 50px;
  animation: colorBlock 100s ease-in-out infinite;
}

#skill {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#skill .skill-list {
  width: 860px;
  padding: 16px 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#skill .skill-list .logo {
  height: 48px;
  margin: 16px 8px;
  transition: all 0.2s ease-in;
}
#skill .skill-list .logo:hover {
  transform: translate(0, -5px);
  box-shadow: 5px 5px 5px rgb(252, 199, 27);
}

#project {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#project h1 {
  text-align: center;
}
#project #projects-list {
  width: 80vw;
  margin-top: 100px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#project #projects-list .project-card {
  width: 500px;
  height: 320px;
  border: 2px solid red;
  margin: 24px 16px;
  overflow: hidden;
  transition: all 0.5s ease-in;
  position: relative;
}
#project #projects-list .project-card img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease-in;
}
#project #projects-list .project-card img:hover {
  transform: scale(1.1);
}
#project #projects-list .project-card .project-detail-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}
#project #projects-list .project-card .project-detail-container .project-detail {
  width: 100%;
  height: 100%;
}
#project #projects-list .project-card .project-detail-container .project-detail h2 {
  font-size: 2rem;
  text-align: center;
  margin: 8px 0;
  padding: 8px 0;
  background: black;
  color: rgb(255, 123, 0);
}
#project #projects-list .project-card .project-detail-container .project-detail p {
  color: white;
  text-align: center;
}
#project #projects-list .project-card .project-detail-container .project-detail .link {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#project #projects-list .project-card .project-detail-container .project-detail .link .link-logo {
  width: 36px;
  height: 36px;
  margin: 8px 24px;
}
#project #projects-list .project-card .project-detail-container .project-detail .link .link-logo:hover {
  transform: scale(1.2);
}
#project #projects-list .project-card .project-detail-container .project-detail .link .live-app {
  width: 120px;
  height: 36px;
  margin: 8px 24px;
  border-radius: 24px;
  transition: all 0.2s ease-in;
  font-size: 1.5rem;
  background-color: rgb(255, 123, 0);
  color: rgb(32, 31, 26);
}
#project #projects-list .project-card .project-detail-container .project-detail .link .live-app:hover {
  transform: scale(1.1);
}
#project #projects-list .project-card .project-detail-container .project-detail .tech-logo {
  margin-top: 10px;
  padding: 4px 8px;
}
#project #projects-list .project-card .project-detail-container .project-detail .tech-logo .logo {
  height: 28px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
}
#project #projects-list .project-card:hover .project-detail-container {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  pointer-events: auto;
  opacity: 1;
}

#email {
  height: 60vh;
  min-height: 480px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#email a {
  margin: 10px 30px;
  position: relative;
  z-index: 5;
}
#email a img {
  width: 180px;
  transition: all 0.3s ease-in;
}
#email a img:hover {
  scale: 1.2;
}
#email #plane {
  pointer-events: none;
  position: absolute;
  bottom: 80px;
  left: 70px;
  animation: plane 30s ease-in-out infinite;
}

#contact {
  width: 80px;
  height: 300px;
  background: transparent;
  position: fixed;
  bottom: 10px;
  left: 0;
  z-index: 99;
  margin: 0 16px;
  opacity: 0;
  pointer-events: none;
}
#contact img {
  width: 40px;
  margin: 4px 16px;
  transition: all 0.3s ease-in;
}
#contact img:hover {
  transform: rotate(-0.05turn);
}

#contact.show {
  pointer-events: auto;
  opacity: 1;
}

footer {
  width: 100%;
  padding: 10px 32px;
  background: linear-gradient(45deg, rgb(141, 240, 49), rgb(253, 236, 136));
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer h6 {
  font-size: 12px;
  font-family: "Bruno Ace", cursive;
  color: rgb(38, 57, 228);
  text-align: center;
}
footer #footer-contact {
  padding: 0;
  padding-top: 0;
  background: transparent;
  width: 300px;
  height: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}
footer #footer-contact a img {
  height: 1px;
}

@keyframes arrow {
  from {
    top: 10px;
  }
  to {
    top: 30px;
  }
}
@keyframes colorBlock {
  0% {
    left: 70px;
    bottom: 50px;
  }
  50% {
    left: 450px;
    bottom: 140px;
    rotate: 0.5turn;
  }
  100% {
    left: 70px;
    bottom: 50px;
    rotate: 1turn;
  }
}
@keyframes plane {
  0% {
    bottom: 80px;
    left: 70px;
  }
  15% {
    bottom: 180px;
    rotate: 0.05turn;
  }
  30% {
    bottom: 90px;
    rotate: 0.1turn;
  }
  45% {
    bottom: 150px;
    rotate: 0turn;
    transform: scaleX(1);
  }
  50% {
    left: 105%;
    bottom: 90px;
    rotate: 0.05turn;
    transform: scaleX(-1);
  }
  60% {
    bottom: 170px;
    rotate: -0.05turn;
  }
  70% {
    bottom: 40px;
  }
  85% {
    left: -15%;
    bottom: 230px;
    transform: scaleX(-1);
  }
  90% {
    transform: scaleX(1);
  }
  95% {
    bottom: 40px;
    rotate: 0.05;
  }
  100% {
    bottom: 80px;
    left: 70px;
    rotate: 0turn;
  }
}
@media screen and (max-width: 1100px) {
  #about {
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  #about #block {
    opacity: 0;
  }
  #about #mypic {
    width: 360px;
    height: 360px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    position: static;
    transition: all 0.2s ease-in;
  }
  #about #mypic:hover {
    transform: scale(1.1);
  }
  #about .resume {
    right: 25vw;
    top: 460px;
  }
  #about #me {
    width: 80vw;
    min-width: 450px;
    height: -moz-fit-content;
    height: fit-content;
    position: static;
    margin: 16px 0 64px 0;
    padding: 16px 8px;
  }
  #skill .skill-list {
    width: 85vw;
  }
  #skill .skill-list .logo {
    height: 36px;
  }
  #project #projects-list {
    width: 90vw;
  }
  #project #projects-list .project-card {
    width: 400px;
    height: 250px;
    margin: 16px 8px;
    position: relative;
  }
  #project #projects-list .project-card img {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.2s ease-in;
  }
  #project #projects-list .project-card img:hover {
    transform: scale(1);
  }
  #project #projects-list .project-card .project-detail-container .project-detail {
    width: 100%;
    height: 100%;
  }
  #project #projects-list .project-card .project-detail-container .project-detail h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 8px 0;
  }
  #project #projects-list .project-card .project-detail-container .project-detail p {
    color: rgb(237, 231, 215);
    text-align: center;
  }
  #project #projects-list .project-card .project-detail-container .project-detail .link {
    margin: 5px 0;
  }
  #project #projects-list .project-card .project-detail-container .project-detail .link .link-logo {
    width: 30px;
    height: 30px;
    margin: 4px 24px;
  }
  #project #projects-list .project-card .project-detail-container .project-detail .link .live-app {
    width: 120px;
    height: 30px;
    margin: 4px 24px;
    font-size: 1.2rem;
  }
  #project #projects-list .project-card .project-detail-container .project-detail .tech-logo .logo {
    height: 20px;
    border-radius: 4px;
  }
  #project #projects-list .project-card:hover .project-detail-container {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    pointer-events: auto;
    opacity: 1;
  }
  #email a {
    margin: 0 20px;
  }
  #email a img {
    width: 150px;
  }
}
@media screen and (max-width: 790px) {
  .navbar {
    height: 0;
    padding: 0;
  }
  .navbar ul {
    height: 0;
    opacity: 0;
    pointer-events: none;
  }
  .navbar ul li {
    height: 0;
  }
  .navbar ul li a {
    font-size: 0;
    height: 0;
  }
  .nav-burger {
    opacity: 1;
    pointer-events: auto;
  }
  #contact.show {
    pointer-events: none;
    opacity: 0;
  }
  footer #footer-contact {
    padding-top: 8px;
    background: transparent;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
    pointer-events: auto;
  }
  footer #footer-contact a img {
    height: 40px;
  }
  #email a {
    margin: 0 15px;
  }
  #email a img {
    width: 100px;
  }
}
@media screen and (max-width: 480px) {
  #skill .skill-list {
    padding-top: 20px;
  }
  #skill .skill-list .logo {
    height: 28px;
  }
}
@media screen and (min-height: 850px) {
  #home h2,
  #home div,
  #home #next-section {
    transform: translate(0, 40px);
  }
}
@media screen and (min-height: 990px) {
  #home h2 span {
    background: linear-gradient(45deg, #00b7ff, #a80cf0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(0, 0, 0, 0);
  }
  #home div h3 span {
    background: linear-gradient(45deg, #00b7ff, #a80cf0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(0, 0, 0, 0);
  }
}/*# sourceMappingURL=style.css.map */