* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  background-color: white;
}

.chapter {
  display: flex;
  align-items: center;
  position: absolute;
  top: 48px;
  left: 80px;
  img {
    margin: 10px 16px;
    height: 30px;
  }
  h2 {
    font-size: 40px;
    font-family: 'Bruno Ace', cursive;
  }
}

#background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -10;
  background-color: rgb(32, 31, 26);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#home {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f09a6857;
  #space {
    height: 80px;
  }
  h2 {
    font-size: 3.5rem;
    color: white;
    span {
      font-family: 'Salsa', cursive;
      background: linear-gradient(45deg,#ff7300,#c6f00c );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #0000;
    }
  }
  div {
    width: 400px;
    h3 {
      font-size: 2.5rem;
      color: #dbd7a9;
      span {
        font-family: 'Salsa', cursive;
        background: linear-gradient(45deg,#ff7300,#c6f00c );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #0000;
      }
    }
  }
  
  #next-section {
    width: 100px;
    margin-top: 50px;
    position: relative;
    animation: arrow 1.5s ease-in-out infinite alternate;
  }
}

.navbar {
  width: 100vw;
  padding: 6px 0;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: flex-end;
  ul {
    display: flex;
    list-style-type: none;
    right: 36px;
    li {
      a {
        text-decoration: none;
        margin: 0 1.5rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(92, 89, 89);
        // color: rgb(255, 123, 0);
      }
    }
  }
}

.nav-burger {
  position: fixed;
  z-index: 50;
  top: 24px;
  right: 10px;
  opacity: 0;
  pointer-events: none;
  #burger {
    border-radius: 10px;
    height: 60px;
    transition: all 0.2s ease-in;
  }

  div {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    padding: 36px 16px;
    width: 90vw;
    height: fit-content;
    position: fixed;
    top: 20px;
    right: 4vw;
    opacity: 0;
    pointer-events: none;
    ul {
      list-style-type: none;
      margin-right: 40px;
      li {
        border-bottom: 2px solid grey;
        margin-bottom: 12px;
        a {
          text-decoration: none;
          font-size: 2.5rem;
          color: rgb(255, 123, 0);
        }
        a:hover {
          transform: translate(5px, -5px);
          color: rgb(255, 246, 122);
        }
      }
    }
  }
}

.nav-burger:hover {
  img {
    transform: translate(-16px, -5px);
    box-shadow: 5px 5px 5px rgb(46, 44, 38);
  }
  div {
    opacity: 1;
    pointer-events: auto;
  }
}

#about {
  height: 725px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  #block {
    position: absolute;
    top: 0;
    right: 0;
  }
  #mypic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 66px;
    position: absolute;
    right: 180px;
    top: 200px;
    transition: all 0.2s ease-in;
  }
  #mypic:hover {
    transform: scale(1.3);
  }
  .resume {
    position: absolute;
    // right: 215px;
    // top: 450px;
    right: 150px;
    top: 330px;
    img {
      width: 100px;
      transition: all 0.2s ease-in;
    }
    img:hover {
      transform: rotate(-0.03turn);
    }
    p {
      display: flex;
      font-size: 20px;
      padding-left: 8px;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  #me {
    min-width: 600px;
    max-width: 900px;
    height: 500px;
    padding-top: 100px;
    position: absolute;
    top: 160px;
    right: 400px;
    margin: 0 32px 0 48px;
    padding: 16px 24px;
    p {
      font-size: 1.25rem;
      margin-top: 24px;
    }
  }
  #color-block {
    position: absolute;
    z-index: 0;
    left: 70px;
    bottom: 50px;
    animation: colorBlock 100s ease-in-out infinite;
  }
}

#skill {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .skill-list {
    width: 860px;
    padding: 16px 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .logo {
      height: 48px;
      margin: 16px 8px;
      transition: all 0.2s ease-in;
    }
    .logo:hover {
      transform: translate(0, -5px);
      box-shadow: 5px 5px 5px rgb(252, 199, 27);
    }
  }
}

#project {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  h1 {
    text-align: center;
  }
  #projects-list {
    width: 80vw;
    margin-top: 100px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .project-card {
      width: 500px;
      height: 320px;
      border: 2px solid red;
      margin: 24px 16px;
      overflow: hidden;
      transition: all 0.5s ease-in;
      position: relative;
      img {
        width: 100%;
        height: fit-content;
        object-fit: cover;
        transition: all 0.2s ease-in;
      }
      img:hover {
        transform: scale(1.1);
      }
      .project-detail-container {
        // width: 70vw;
        // height: fit-content;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        // transform: translate(15vw, 20vh);

        opacity: 0;
        pointer-events: none;
        // .project-img {
        //   width: 50%;
        //   height: fit-content;
        //   object-fit: cover;
        //   margin: 16px 24px;
        // }
        // .project-img:hover {
        //   transform: scale(1);
        // }
        .project-detail {
          width: 100%;
          height: 100%;
          h2 {
            font-size: 2rem;
            text-align: center;
            margin: 24px 0;
            padding: 8px 0;
            background: black;
            color: rgb(255, 123, 0);
          }
          p {
            color: white;
            text-align: center;
          }
          .link {
            margin: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            .link-logo {
              width: 36px;
              height: 36px;
              margin: 8px 24px;
            }
            .link-logo:hover {
              transform: scale(1.2);
            }
            .live-app {
              width: 120px;
              height: 36px;
              margin: 8px 24px;
              border-radius: 24px;
              transition: all 0.2s ease-in;
              font-size: 1.5rem;
              background-color: rgb(255, 123, 0);
              color: rgb(32, 31, 26);
            }
            .live-app:hover {
              transform: scale(1.1);
            }
          }
          .tech-logo {
            margin-top: 10px;
            padding: 4px 8px;
            .logo {
              height: 28px;
              width: fit-content;
              border-radius: 8px;
            }
          }
        }
      }
    }

    .project-card:hover {
      // img {
      //     transform: scale(1.1);
      // }
      .project-detail-container {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(3px);
        pointer-events: auto;
        opacity: 1;
      }
    }
  }
}

#contact {
  width: 80px;
  height: 300px;
  background: transparent;
  position: fixed;
  bottom: 10px;
  left: 0;
  z-index: 99;
  margin: 0 16px;
  opacity: 0;
  pointer-events: none;
  img {
    width: 40px;
    margin: 4px 16px;
    transition: all 0.3s ease-in;
  }
  img:hover {
    transform: rotate(-0.05turn);
  }
}

#contact.show {
  pointer-events: auto;
  opacity: 1;
}

footer {
  width: 100vw;
  padding: 10px 32px;
  background: linear-gradient(45deg, rgb(141, 240, 49), rgb(253, 236, 136));
  display: flex;
  flex-direction: column;
  align-items: center;
  h6 {
    font-size: 12px;
    font-family: 'Bruno Ace', cursive;
    color: rgb(38, 57, 228);
    text-align: center;
  }
  #footer-contact {
    padding: 0;
    padding-top: 0;
    background: transparent;
    width: 300px;
    height: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    a {
      img {
        height: 1px;
      }
    }
  }
}

// home page arrow animation
@keyframes arrow {
  from {
    top: 10px;
  }
  to {
    top: 30px;
  }
}

@keyframes colorBlock {
  0% {
    left: 70px;
    bottom: 50px;
  } 
  50% {
    left: 450px;
    bottom: 140px;
    rotate: 0.5turn;
  }
  100% {
    left: 70px;
    bottom: 50px;
    rotate: 1turn;
  }
}

@media screen and (max-width: 1100px) {
  #about {
    height: fit-content;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    #block {
      opacity: 0;
    }
    #mypic {
      width:360px;
      height: 360px;
      object-fit: cover;
      border-radius: 50%;
      position: static;
      transition: all 0.2s ease-in;
    }
    #mypic:hover {
      transform: scale(1.1);
    }
    .resume {
      right: 25vw;
      top: 460px;
    }
    #me {
      width: 80vw;
      min-width: 450px;
      height: fit-content;
      position: static;
      margin: 16px 0 64px 0;
      padding: 16px 8px;
    }
  }

  #skill {
    .skill-list {
      width: 85vw;
      .logo {
        height: 36px;
      }
    }
  }

  #project {
    #projects-list {
      width: 90vw;
      .project-card {
        width: 400px;
        height: 250px;
        margin: 16px 8px;
        position: relative;
        img {
          width: 100%;
          height: fit-content;
          object-fit: cover;
          transition: all 0.2s ease-in;
        }
        img:hover {
          transform: scale(1);
        }
        .project-detail-container {
          .project-detail {
            width: 100%;
            height: 100%;
            h2 {
              font-size: 1.5rem;
              margin: 0;
              padding: 8px 0;
            }
            p {
              color: rgb(237, 231, 215);
              text-align: center;
            }
            .link {
              margin: 5px 0;
              .link-logo {
                width: 30px;
                height: 30px;
                margin: 4px 24px;
              }
              .live-app {
                width: 120px;
                height: 30px;
                margin: 4px 24px;
                font-size: 1.2rem;
              }
            }
            .tech-logo {
              .logo {
                height: 20px;
                border-radius: 4px;
              }
            }
          }
        }
      }
  
      .project-card:hover {
        // img {
        //     transform: scale(1.1);
        // }
        .project-detail-container {
          background-color: rgba(0, 0, 0, 0.5);
          backdrop-filter: blur(3px);
          pointer-events: auto;
          opacity: 1;
        }
      }
    }
  }

}

@media screen and (max-width: 790px) {
  .navbar {
    height: 0;
    padding: 0;
    ul {
      height: 0;
      opacity: 0;
      pointer-events: none;
      li {
        height: 0;
        a {
          font-size: 0;
          height: 0;
        }
      }
    }
  }
  .nav-burger {
    opacity: 1;
    pointer-events: auto;
  }
  #contact.show {
    pointer-events: none;
    opacity: 0;
  }
  footer {
    #footer-contact {
      padding-top: 8px;
      background: transparent;
      width: 300px;
      height: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      opacity: 1;
      pointer-events: auto;
      a {
        img {
          height: 40px;
        }
      }
    }
  }
  
}

@media screen and (max-width: 480px) {
  #skill {
    .skill-list {
      padding-top: 20px;
      .logo {
        height: 28px;
      }
    }
  }
}

@media screen and (min-height: 850px) {
  #home {
    h2, div, #next-section {
      transform: translate(0, 40px);
    }
  } 
}

@media screen and (min-height: 990px) {
  #home {
    h2 {
      span {
        background: linear-gradient(45deg,#00b7ff,#a80cf0 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #0000;
      }
    }
    div {
      h3 {
        span {
          background: linear-gradient(45deg,#00b7ff,#a80cf0 );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #0000;
        }
      }
    }
    
    
  }
  
}